<div class="search-all">
  <!------------- categiries Oleg ----------->
  <div class="categiries-change">
    <button type="button" class="categories-btn-all categories-btn-all-js">
      All categories
    </button>
    <div class="categories-tumb">
      <ul class="categories-js"></ul>
    </div>
    <!--------- Popular recspies Oleg ------>
    <h2 class="popular-recipes-head">Popular recipes</h2>
    <ul class="popular-change-js"></ul>
  </div>
  <!------------- filters vstalik ---------->
  <div>
    <div class="filter">
      <div class="filter-chg">
        <select class="areas-js"></select>
        <select class="ingredients-js"></select>
      </div>
      <div class="recepies-js">
        <p>recepies:</p>
      </div>
    </div>
    <!-------------- cards Kira ------------>
    <ul class="card-list"></ul>
  </div>
</div>
<div id="tui-pagination-container" class="tui-pagination is-hidden"></div>
