<div class="search-all">
  <div class="categiries-change">
    <button type="button" class="categories-btn-all categories-btn-all-js">
      All categories
    </button>
    <div class="categories-tumb">
      <ul class="categories-js"></ul>
    </div>
    <!-- Popular recspies -->
    <h2 class="popular-head">Popular recipes</h2>
  </div>
  <div class="filter">
    <div class="filter-chg">
      <select class="areas-js"></select>
      <select class="ingredients-js"></select>
    </div>

    <div class="recepies-js">
      <p>recepies:</p>
    </div>
  </div>
</div>
